#### Import the relevant library:

In [1]:
import pandas as pd
!pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/55/6f/c87dffdd88a54dd26a3a9fef1d14b6384a9933c455c54ce3ca7d64a84c88/lxml-4.5.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 23.4MB/s eta 0:00:011.9MB 23.4MB/s eta 0:00:01     |█████████████████████████████▉  | 5.2MB 23.4MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.1

#### Scrape the Wikipedia page and read the url into a pandas dataframe:

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
list = pd.read_html(url)
df=pd.DataFrame(list[0])
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

In [3]:
df['Neighborhood'].value_counts(dropna=False)

NaN                                                                                                                                       77
Downsview                                                                                                                                  4
Don Mills                                                                                                                                  2
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park                                                                          1
Moore Park, Summerhill East                                                                                                                1
                                                                                                                                          ..
Clarks Corners, Tam O'Shanter, Sullivan                                                                                                    1
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East     1
Studio District                                                                                                                            1
Northwest, West Humber - Clairville                                                                                                        1
Parkwoods                                                                                                                                  1
Name: Neighborhood, Length: 100, dtype: int64

In [4]:
df.describe()

       Postal Code       Borough Neighborhood
count          180           180          103
unique         180            11           99
top            M1M  Not assigned    Downsview
freq             1            77            4

#### Check the number of rows which are assigned under column 'Borough':

In [5]:
(df['Borough']=='Not assigned').value_counts()

False    103
True      77
Name: Borough, dtype: int64

#### Drop all rows which are "Not assigned" under column 'Borough':

In [6]:
df = df[df['Borough'] != 'Not assigned']
df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Reset the index of the dataframe:

In [7]:
df.reset_index(drop=True)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Get the number of rows and columns in the dataframe:

In [8]:
df.shape

(103, 3)

In [9]:
print('There are 103 rows in the dataframe.')

There are 103 rows in the dataframe.

#### Read the geospatial coordinates into another pandas dataframe:

In [12]:
geospatial ='https://cocl.us/Geospatial_data'
geo=pd.read_csv(geospatial)
geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

<h4> Sort the dataframe by Postal Code and Borough:

In [16]:
df_grouped = df.groupby(["Postal Code", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df_grouped

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

<h4> Merge the dataframes of postal codes and geospatial coordinates:

In [30]:
df_geo = pd.concat([df_grouped, geo.reindex(df_grouped.index)], axis=1)
df_geo

,Postal Code,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...,...,...
98,M9N,York,Weston,M9N,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,M9P,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",M9R,43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",M9W,43.706748,-79.594054

#### Drop the duplicate 'Postal code' column and make it the first column:

In [42]:
df_geo2=df_geo.drop(['Postal Code'], axis=1)
df_geo2

,Borough,Neighborhood,Latitude,Longitude
0,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,Scarborough,Woburn,43.770992,-79.216917
4,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
98,York,Weston,43.706876,-79.518188
99,Etobicoke,Westmount,43.696319,-79.532242
100,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [49]:
postalcode=geo[['Postal Code']]
postalcode

    Postal Code
0           M1B
1           M1C
2           M1E
3           M1G
4           M1H
..          ...
98          M9N
99          M9P
100         M9R
101         M9V
102         M9W

[103 rows x 1 columns]

In [121]:
df_geo3 = pd.concat([df_geo2, postalcode],axis=1)
df_geo3

,Borough,Neighborhood,Latitude,Longitude,Postal Code
0,Scarborough,"Malvern, Rouge",43.806686,-79.194353,M1B
1,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497,M1C
2,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711,M1E
3,Scarborough,Woburn,43.770992,-79.216917,M1G
4,Scarborough,Cedarbrae,43.773136,-79.239476,M1H
...,...,...,...,...,...
98,York,Weston,43.706876,-79.518188,M9N
99,Etobicoke,Westmount,43.696319,-79.532242,M9P
100,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724,M9R
101,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437,M9V
102,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054,M9W

In [131]:
toronto_geo = df_geo3.set_index(['Postal Code'])
toronto_geo = toronto_geo.reset_index()
toronto_geo

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [132]:
toronto_geo.shape

(103, 5)